<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.musicapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity    
            android:name="com.example.musicapp.HomeActivity"
            android:label="Home"></activity>
        <activity    
            android:name="com.example.musicapp.RegisterActivity"
            android:label="Register"></activity>
        <activity    
            android:name="com.example.musicapp.CreateSessionActivity"
            android:label="Create Session"></activity>
        <activity    
            android:name="com.example.musicapp.CurrentSessionActivity"
            android:label="CurrentSession"></activity>
        <activity    
            android:name="com.example.musicapp.DJSessionActivity"
            android:label="DJ Session"></activity>
        <activity    
            android:name="com.example.musicapp.ListenerMenuActivity"
            android:label="Listener Menu"></activity>
        <activity    
            android:name="com.example.musicapp.UserFavoriteActivity"
            android:label="User Favorite"></activity>
        <activity    
            android:name="com.example.musicapp.ViewUsersActivity"
            android:label="View Users"></activity>
        <activity    
            android:name="com.example.musicapp.MyFavActivity"
            android:label="My Favorite"></activity>
    </application>

</manifest>
